.mycard{
    cursor: pointer;
}

.icone{
    cursor: pointer;
}

.icon:hover{
    background-color: brown !important;
}

.orange{
    background-color: rgb(234 88 12) !important;
}

.green{
    background-color: rgb(34 197 94)  !important;
}

.status{
    cursor: pointer;
}

.tdnome{
    padding: 2px !important;
    border: none !important;
    outline: none !important;
}

.tdcpf{
    padding: 5px !important;
    border: none !important;
    outline: none !important;
}


#box-download{
    padding: 20px;
    border-radius: 10px;
    background-color: #121317;
    width: 100%;
    margin-top: 5px;
    color:aliceblue;
    cursor: pointer;
    transition: 0.3s;
}

#box-download:hover{
    -webkit-box-shadow: 5px 5px 15px 5px #171717; 
    box-shadow: 5px 5px 15px 5px #171717;
    color: #90f542;
}


