.mycard{
    cursor: pointer;
}

.icone{
    cursor: pointer;
}

.icon:hover{
    background-color: brown !important;
}

.orange{
    background-color: rgb(234 88 12) !important;
}

.green{
    background-color: rgb(34 197 94)  !important;
}

.status{
    cursor: pointer;
}

.tdnome{
    padding: 2px !important;
    border: none !important;
    outline: none !important;
}

.tdcpf{
    padding: 5px !important;
    border: none !important;
    outline: none !important;
}
